
/* Radio buttons */

/* Default */
.toggle-radio {width: 100%;}
.toggle-radio > input + label {color:#28a745; background:white; border:1px solid #28a745; border-width:1px 1px 0 1px;}
.toggle-radio > input + label {text-align:center;width:25%;}
.toggle-radio > input:last-of-type + label {border-bottom-width:1px;}
.toggle-radio > input:checked + label {background:#28a745; color:white;}


/* Rounded corners */
.toggle-radio input:first-of-type + label {border-radius:4px 4px 0 0;}
.toggle-radio input:last-of-type + label {border-radius:0 0 4px 4px;}

.toggle-radio {display:inline-block; vertical-align:middle;}
.toggle-radio > input[type='radio'] {display:none;}
.toggle-radio > input[disabled] + label {opacity:0.50;}
.toggle-radio > input[disabled] + label:hover {cursor:not-allowed;}
.toggle-radio > input + label {display:flex; margin-bottom:0; padding:5px 10px; cursor:pointer; align-items:center;}

/* Transitions */
.toggle-radio > input:checked + label {transition:background 300ms linear;}

/* Small (sm) and up */
@media (min-width:375px) {
	.toggle-radio > input + label				{display:inline-block; float:left; border-width:1px 0 1px 1px;}
	.toggle-radio > input:last-of-type + label 	{border-right-width:1px;}
	.toggle-radio > input + label:before		{display:none;}

	/* Border Radius */
	.toggle-radio input:first-of-type + label	{border-radius:4px 0 0 4px;}
	.toggle-radio input:last-of-type + label 	{border-radius:0 4px 4px 0;}
}


/* Range slider */

.range{
	height: 30px;
	width: 100%;
	margin: 10px 0 10px 0;
	padding: 0 40px 0 31px;
  }
  .field{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
  }
  .field .value{
	position: absolute;
	font-size: 14px;
	color: #28a745;
	font-weight: 600;
  }
  .field .value.left{
	left: -28px;
  }
  .field .value.right{
	right: -37px;
  }
  .range input{
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	background: #ddd;
	border-radius: 5px;
	outline: none;
	border: none;
	z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #28a745;
	border: 2px solid white;
	cursor: pointer;
  }