/* Navigation SPA */
.app>* {display: none;}
.app>*:last-child {display: block;}
.app>*:target {display: block;animation: fade 300ms linear 1;}
.app>*:target~* {display: none;}

/* Toggle switch */
.switch {position: relative;display: inline-block;width: 3rem;height: 1.5rem;overflow: hidden;}
.switch input {display: none;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;border-radius: 1.5rem;}
.slider:before {position: absolute;content: "";height: 1.125rem;width: 1.125rem;left: 0.1875rem;bottom: 0.1875rem;background-color: #fff;-webkit-transition: .4s;transition: .4s;border-radius: 1.125rem;}
input:checked+.slider {background-color: #28a745;}
input:focus+.slide {box-shadow: 0 0 1px #28a745;}

input:checked+.slider::before {-webkit-transform: translateX(1.5rem);-ms-transform: translateX(1.5rem);transform: translateX(1.5rem);}

/* HR Lines */
.hr-lines {position: relative;margin: 0px auto;text-align: center;}
.hr-lines:before {content: "";height: 2px;width: 100%;background: rgb(64, 64, 64);display: block;position: absolute;top: 50%;left: 0;z-index: 0;}
.hr-lines span {background: #fff;padding: 0 20px;position: relative; z-index: 0;}

/* Font family */
html, body, h1, h2, h3, h4, h5, h6 {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

/* Input with icons */
.input-icons {width: 100%;}
.input-icons i {height: 33px;position: absolute;}
.icon {padding: 10px;color: white;min-width: 35px;text-align: center;background-color: #28a745;border-radius: 4px 0px 0px 4px;}
.input-field {height: 33px;width: 100%;text-align: left;padding-left:50px;}
.input-field:focus {outline: none;}

/* Remove underline to <a> tag */
a {text-decoration: none;}

/* Days width */
.col-7{width: 14.29%;}

/* Custom checkboxes */
.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {display: none;}
.custom-checkbox input[type="checkbox"]:checked~.checked {display: inline-block;}
.custom-checkbox input[type="checkbox"]:checked~.unchecked {display: none;}